<div id="sidebar">
	<nav id="logo"><a><img /></a></nav>
	<nav id="menu">
		<ul>
			<li><a><span>Main Page<div class="underline"></div></span></a></li>
			<li><a><span>Contact<div class="underline"></div></span></a></li>
		</ul>
	</nav>
	<nav id="social">
		<ul>
			<li><a><span class="facebook"></span></a></li>
			<li><a><span class="twitter"></span></a></li>
		</ul>
	</nav>
</div>